<div class="card flex justify-content-center">
  <p-dialog [(visible)]="visible" [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
      <span class="text-xl font-bold">Adivina la bandera</span>
    </ng-template>
    <p>
      El juego consiste en adivinar el país al que pertenece la bandera mostrada.
    </p>
    <p>¿Quieres jugar?</p>
    <ng-template pTemplate="footer">
      <div class="text-center">
        <p-button icon="pi pi-flag-fill" (click)="visible = false" label="Empezar" styleClass="p-button-success"></p-button>
      </div>
    </ng-template>
  </p-dialog>
</div>


<p-card [hidden]="visible" header="Adivina la bandera" subheader="" [style]="{ width: '35rem' }">
  <ng-template pTemplate="header">
    <div class="grid">
      <p class="col-6">Puntos {{puntos}}</p>
      <p class="col-6 text-right">Tiempo {{tiempo}}</p>
    </div>
    <img alt="Card" [src]="" />
  </ng-template>
  <p>

  </p>
  <ng-template pTemplate="footer">
    <div class="grid text-center">
      <div class="col-6">
        <p-button label="Pais 1" icon="pi pi-check"></p-button>
      </div>
      <div class="col-6">
        <p-button label="Pais 2" icon="pi pi-check"></p-button>
      </div>
      <div class="col-6">
        <p-button label="Pais 3" icon="pi pi-check"></p-button>
      </div>
      <div class="col-6">
        <p-button label="Pais 4" icon="pi pi-check"></p-button>
      </div>
    </div>
  </ng-template>
</p-card>
